body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url('../images/opening_image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
}

.form-container {
    height: fit-content;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    /* align-items: center; */

    padding-top: 100px;
    padding-bottom: 100px;
}

.form1 {
    height: fit-content;
    width: 50%;
    background: #fff;
    border-radius: 20px;
    padding: 2% 5% 2% 5%;
}

.form1 h1 {
    color: #020381;
    margin: 0 0 30px 0;
    text-align: center;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    margin-bottom: 20px;
    gap: 40px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    margin-bottom: 20px;
    gap: 20px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 3fr;
    margin-bottom: 20px;
    gap: 40px;
}

.form1 label {
    font-size: larger;
    font-weight: bold;
    color: #020381;
    margin: auto 0;
}

.form1 input {
    padding: 15px;
    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
    font-size: medium;
    font-family: Helvetica, sans-serif;
}

.form1 textarea {
    resize: vertical;
    padding: 15px;
    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
    font-size: medium;
    font-family: Helvetica, sans-serif;
}

.form1 textarea::placeholder {
    font-family: Helvetica, sans-serif;
}

input:focus,
textarea:focus {
    outline: #020381 solid 1px;
}


#image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#image-preview img {
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background-color: #D3D3D3;
    color: #020381;
    font-size: x-large;
}

.submit {
    cursor: pointer;
    width: 100%;
    background-color: #020381;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0 20px 0;

    font-size: large;
    font-weight: bold;
}

.form1 span {
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #808080;
}

.form1 span a {
    color: #020381;
    text-decoration: none;
    font-weight: bold;
}

.info{
    font-style: italic;
    color: #808080;
}


/* For Popup Ticket Form */
/* #popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

#popup h2 {
    margin-top: 0;
}

#popup button {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
} */

/* Styles for displaying the submitted data */
/* #submittedData {
    margin-top: 20px;
    padding: 10px;
}

.ticket-field input{
    margin-right: 10px;
    margin-bottom: 10px;
} */