body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url('../images/opening_image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    height: fit-content;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background-attachment: fixed;
    

    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.inner_container {
    width: 60%;
    height: fit-content;
    border-radius: 20px;
    background: #fff;

    padding: 2% 5% 2% 5%;
}

form {
    display: flex;
    flex-direction: column;
}

form h1 {
    color: #020381;
    margin: 0 0 30px 0;
    text-align: center;
}

#image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-preview img {
    height: 200px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form label {
    font-size: large;
    font-weight: bold;
    color: #020381;
    display: block;
    margin: 0;
}

form input,
form textarea {
    padding: 15px;
    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
    font-size: large;
    margin: 10px 0 30px 0;
    font-family: Helvetica, sans-serif;
}

form textarea {
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: #020381 solid 1px;
}

.tags_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tags_container input {
    width: 190px;
}

.link {
    text-decoration: underline;
    color: #020381;
}

.submit {
    /* width: 100%; */
    background-color: #020381;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0 20px 0;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}