body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("../images/opening_image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    height: fit-content;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

.list {
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border-radius: 20px;
}

.list h1 {
    color: #020381;
}

.admin {
    color: #585858;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    padding: 15px 0 15px 0;
    font-size: large;
}

.admin p {
    display: inline;
}

input {
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
    font-size: large;
    font-family: Helvetica, sans-serif;
}

input:focus {
    outline: #020381 solid 1px;
}

button {
    height: fit-content;
    margin: auto 0;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: large;
    color: #020381;
}

button:hover {
    /* background: #fff; */
    color: #020381;
    border: #020381 1px solid;
}

button:active {
    background: #020381;
    color: #fff;
}