body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("../images/opening_image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}

.box1 {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box1 h1 {
    margin: 0 0 40px 0;
    color: #fff;
}

.box2 {
    height: 60%;
    width: 60%;
    background-color: #fff;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.item {
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;



    border: #020381 solid 1px;
    color: #020381;
}

.item:hover {
    background: #fafafa;
}

.item:active {
    background-color: #020381;
    color: #fff;
}