body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    
}

.heading {
    margin: 0 0 30px 0;
    font-size: 50px;
    width: 800px;
    text-align: center;
    color: #020381;
}

.date {
    margin: 0 0 100px 0;
    font-size: large;
    color: #808080;
}

.event_image {
    height: 400px;
    width: 800px;
    margin: 0 0 30px 0;

    /* background: url('../images/closing_image.jpg'); */
    background: #020381;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.desc {
    width: 1200px;
    font-size: large;
    color: #585858;
    white-space: pre-line;
    margin-bottom: 40px;
}

span{
    color: #020381;
    font-weight: bold;
}

.register {
    cursor: pointer;
    background: #020381;
    color: #fff;
    font-size: large;
    font-weight: bold;
    border: none;
    outline: none;
    width: 300px;
    padding: 20px 0 20px 0;
    margin-bottom: 40px;
    border-radius: 20px;
}

.register:active {
    background: #fff;
    border: #020381 solid 1px;
    color: #020381;
}

.tags{
    width: 1200px;
    text-align: right;
    margin-bottom: 50px;
}