body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

}

.heading {
    margin: 0 0 30px 0;
    font-size: 50px;
    width: 800px;
    text-align: center;
    color: #020381;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.grid-item {
    cursor: pointer;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    padding: 20px;

    /* background: url("../images/opening_image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    background: #020381;
    color: #fff;
}