body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;


    background: url('../images/opening_image.webp');
    backdrop-filter: blur(10px);
}

.container {
    background: rgba(255, 255, 255, 0.6);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container {
    width: fit-content;
    height: fit-content;
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

#image-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profile-pic {
    height: 200px;
    width: 200px;
    background: url('../images/default_profile.jpg');
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 100%;
    /* border: #020381 solid 1px; */
}

h1,
.name {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

h1,
.label,
.name {
    color: #020381;
}

.name {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    padding: 0;
    border-bottom: #D3D3D3 1px solid;
    /* border-radius: 10px; */
    outline: none;
}

.name:focus {
    border-bottom: #020381 solid 1px;
}

.label {
    font-weight: bold;
    font-size: larger;
}

.info {
    margin-bottom: 20px;
    /* display: block; */
    /* text-align: left; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.info span {
    margin: auto 0;
}

.info input {
    font-size: large;
    font-family: Helvetica, sans-serif;
    padding: 15px;


    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
}

.info textarea {
    resize: vertical;
    font-size: large;
    font-family: Helvetica, sans-serif;
    padding: 15px;


    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
}

.info input:focus,
.info textarea:focus {
    outline: #020381 solid 1px;
}

button {
    width: 100%;
    background-color: #020381;
    color: #fff;
    border: #020381 1px solid;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

button:hover {
    border: #020381 1px solid;
    background: #fff;
    color: #020381;
}

button:active {

    background-color: #020381;
    color: #fff;
    border: #020381 1px solid;
}