body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header {
    overflow: hidden;
}

.logo {
    background: url("../images/logo.webp");
    background-repeat: no-repeat;
    height: 80px;
    width: 300px;
}

header ul {
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    gap: 100px;
}

header ul a {
    text-decoration: none;
    font-weight: bold;
    color: #020381;
}

.opening_image {
    height: 500px;
    width: 100%;
    background: url("../images/opening_image.webp");
    background-repeat: no-repeat;
    overflow: hidden;
}

.image_container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening_image div h1,
.opening_image div p {
    color: white;
}

.opening_image div h1 {
    font-size: 70px;
}

.opening_image div p {
    font-size: larger;
}

.box1 {
    padding: 5% 15% 5% 15%;
}

.heading1 {
    font-size: 60px;
    text-align: center;
    color: #020381;
}

.box1 p {
    font-size: larger;
}

.box1 h1{
    color: #020381;
}

.middle_image {
    background: url("../images/middle_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.image_container2 {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_image h1 {
    font-size: 60px;
}

.grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.grid-item {
    margin: auto 0;
}

.grid-item p:first-child{
    font-weight: bold;
}

.grid-item p{
    font-size: larger;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


.grid-container3 {
    /* width: 70%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.grid-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter input{
    display: block;
}

.closing_image {
    height: 400px;
    width: 800px;
    background: url("../images/closing_image.jpg");
    background-repeat: no-repeat;
    border-radius: 50px;
}

footer {
    color: white;
    background: #020381;
}