body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;


    background: url('../images/opening_image.webp');
    backdrop-filter: blur(10px);
}

.container {
    background: rgba(255, 255, 255, 0.6);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container {
    width: 20%;
    height: 60%;
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.inner_container button {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: #d8d8d8 solid 1px;
    outline: none;
    margin: 30px;
    cursor: pointer;
    background: none;
    font-size: larger;
    font-weight: bolder;
}

.inner_container button:hover {
    background: #e4f4ff;
}

.inner_container button:active {
    background: #fff;
}

.profile-pic {
    height: 200px;
    width: 200px;
    background: url('../images/default_profile.jpg');
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 100%;
    /* border: #020381 solid 1px; */
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}

h1,
.label {
    color: #020381;
}

.label {
    font-weight: bold;
}

.info {
    margin-bottom: 10px;
    font-size: large;
    display: block;
    text-align: left;
}