body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url('../images/opening_image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}

.form-container {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    background: #fff;
    border-radius: 20px;
    padding: 2% 5% 2% 5%;
}

form h1 {
    color: #020381;
    margin: 0 0 30px 0;
    text-align: center;
}

form label {
    font-size: medium;
    font-weight: bold;
    color: #020381;
}

form input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 10px 0 30px 0;
    padding: 15px;
    border-radius: 10px;
    border: #D3D3D3 1px solid;
    outline: none;
    font-size: medium;
}

input:focus {
    outline: #020381 solid 1px;
}

form button {
    width: 100%;
    background-color: #020381;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0 20px 0;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

form span {
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #808080;
}

form span a {
    color: #020381;
    text-decoration: none;
    font-weight: bold;
}