body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 50px;
    margin: 50px 0 100px 0;
    color: #020381;
}

.grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 70px;
    margin-bottom: 70px;
}

.grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 50px;
}

.bg {
    padding-left: 50px;
    border: #fff 1px solid;
}

.bg:active {
    /* background: #d6eaf8; */
    border: #020381 1px solid;
}

.grid-item h1 {
    margin: 0 0 20px 0;
    color: #020381;
}

.grid-item p {
    margin: 0 0 10px 0;
    color: #808080;
}

.event_image {
    height: 250px;
    width: 250px;

    background: #020381;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.date {
    margin-top: 10px !important;
}

.tags {
    color: #020381 !important;
    font-weight: bolder;
}

.tags1 {
    color: #020381 !important;
}

.singleline {
    display: flex;
    gap: 100px;
}

.nextpage {
    background: none;
    border: none;
    outline: none;
    color: #020381;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}