{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="stylesheet" href="{% static 'css/add_blog.css' %}">
</head>

<body>
    <div class="container">
        <div class="inner_container">
            <form action="{% url 'addBlog' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Blog</h1>


                <label for="image-input">Image:</label>
                <div id="image-preview"></div>
                <input type="file" id="image-input" name="image-input" accept="image/*" onchange="previewImage(event)">


                <label for="title">Heading:</label>
                <input type="text" id="title" name="title" placeholder="Enter the title of the blog" required>

                <label for="desc">Description:</label>
                <textarea name="desc" id="desc" rows="15" placeholder="Write something..." required></textarea>

                <label for="tag1">Tags:</label>
                <div class="tags_container">
                    <input type="text" id="tag1" name="tag1">
                    <input type="text" id="tag2" name="tag2">
                    <input type="text" id="tag3" name="tag3">
                    <input type="text" id="tag4" name="tag4">
                    <input type="text" id="tag5" name="tag5">
                </div>

                <label for="event-link">Event Link:</label>
                <input type="text" class="link" id="event-link" name="event-link">

                <button class="submit">Submit</button>
            </form>

        </div>

    </div>
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('image-preview');
                output.innerHTML = '<img src="' + reader.result + '" alt="Preview">';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>