{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewEvent</title>
    <link rel="stylesheet" href="{% static 'css/add_event.css' %}">
</head>

<body>

    <div class="form-container">
        <form action="{% url 'addEvent' %}" method="post" class="form1" enctype="multipart/form-data">
            {% csrf_token %}

            <h1>Event</h1>


            <div class="grid4">
                <label for="start_date">Start Date</label>
                <input id="start_date" name="start_date" type="date" placeholder="Add date" required>


                <label for="end_date"">End Date</label>
                <input id=" end_date" name="end_date" type="date" placeholder="Add date" required
                    onchange="compareDates()">
            </div>


            <div class="grid4">
                <label for="start_time">Star Timing</label>
                <input id="start_time" name="start_time" type="time" placeholder="Add timing" required>


                <label for="end_time">End Timing</label>
                <input id="end_time" name="end_time" type="time" placeholder="Add timing" required
                    onchange="compareDates()">
            </div>


            <div class="grid2">
                <label for="max_people_limit">Maximum allowed people</label>
                <input id="max_people_limit" name="max_people_limit" type="number" placeholder="Add limit">
            </div>


            <div class="grid2">
                <label for="event_type">Event type</label>
                <input id="event_type" name="event_type" type="text" placeholder="Concert, Music Fest, Ted Talk...">
            </div>


            <div class="grid2">
                <label for="venue">Venue</label>
                <textarea name="venue" id="venue" cols="40" rows="1"
                    placeholder="Building, Area, City, State..."></textarea>
            </div>


            <div class="grid2">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="40" rows="1"
                    placeholder="Describe the event"></textarea>
            </div>


            <div id="image-preview"></div>
            <div class="grid2">
                <label for="event_poster">Event Poster</label>
                <input type="file" accept="image/*" id="event_poster" name="event_poster"
                    onchange="previewImage(event)">
            </div>


            <div class="grid2">
                <label for="event_name">Event Name</label>
                <input type="text" id="event_name" name="event_name">
            </div>


            <div class="grid3">
                <label for="theme1">Themes</label>
                <input id="theme1" name="theme1" type="text" placeholder="">
                <input id="theme2" name="theme2" type="text" placeholder="">
                <input id="theme3" name="theme3" type="text" placeholder="">
            </div>


            <div class="singleline">
                <label for="">Add a ticket tiers</label>
                <p class="info">For setting free registrations, put zero for price.</p>
                <!-- <button class="popup" id="addTicket">+</button> -->

                <div class="grid5">
                    <label for="">Tier 1:</label>
                    <label for="">Price</label><input type="number" id="price1" name="price1">
                    <label for="">Perks</label><input type="text" id="perk1" name="perk2">
                </div>

                <div class="grid5">
                    <label for="">Tier 2:</label>
                    <label for="">Price</label><input type="number" id="price2" name="price2">
                    <label for="">Perks</label><input type="text" id="perk2" name="perk2">
                </div>

                <div class="grid5">
                    <label for="">Tier 3:</label>
                    <label for="">Price</label><input type="number" id="price3" name="price3">
                    <label for="">Perks</label><input type="text" id="perk3" name="perk3">
                </div>

                <div class="grid5">
                    <label for="">Tier 4:</label>
                    <label for="">Price</label><input type="number" id="price4" name="price4">
                    <label for="">Perks</label><input type="text" id="perk4" name="perk4">
                </div>

                <div class="grid5">
                    <label for="">Tier 5:</label>
                    <label for="">Price</label><input type="number" id="price5" name="price5">
                    <label for="">Perks</label><input type="text" id="perk5" name="perk5">
                </div>
            </div>

            <!-- <div id="popupContainer">
                <div id="popup">
                    <h1>Add Ticket Tiers</h1>
                    <div id="ticketForm">
                        <div id="ticketFields">
                            <div class="ticket-field">

                                <label for="price">Price:</label>
                                <input type="number" class="ticket-input" name="price" required>

                                <label for="perk">Perks:</label>
                                <input type="text" class="ticket-input" name="perk" required>

                            </div>
                        </div>
                        <button id="ticketsSubmit">Save</button>
                        <button id="addTicketButton">Add another Ticket</button>
                    </div>
                </div>
            </div>

            <div id="submittedData"></div> -->


            <!-- Adding Schedule -->
            <!-- <div class="singleline">
                <label for="">Add schedule</label>
                <button class="popup" id="addSchedule">+</button>
            </div> -->


            <button type="submit" class="submit" id="submit-button">Save Event</button>

            <span>Want to share your event? <a href=" /addblog">Write a blog about it.</a></span>
        </form>
    </div>

    <script>
        function compareDates() {
            var date1 = new Date(document.getElementById('start_date').value);
            var date2 = new Date(document.getElementById('end_date').value);

            if (date1 > date2) {
                alert("End Date is less than Start Date !!!");
            }
            else (date1 == date2)
            {
                var time1 = document.getElementById('start_time').value;
                var time2 = document.getElementById('end_time').value;

                if (time1 > time2) {
                    alert("Start Time is greater than End Time !!!");
                }
            }
        }

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('image-preview');
                output.innerHTML = '<img src="' + reader.result + '" alt="Preview">';
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        // Add Ticket

        // const addButton = document.getElementById("addTicket");
        // const popupContainer = document.getElementById("popupContainer");
        // const ticketForm = document.getElementById("ticketForm");
        // const ticketFieldsContainer = document.getElementById("ticketFields");
        // const addTicketButton = document.getElementById("addTicketButton");
        // const submittedDataContainer = document.getElementById("submittedData");
        // const ticketFormSubmitButton = document.getElementById("ticketsSubmit");

        // addButton.addEventListener("click", () => {
        //     // e.preventDefault()
        //     popupContainer.style.display = "block";
        // });

        // addTicketButton.addEventListener("click", () => {
        //     const newTicketField = document.createElement("div");
        //     newTicketField.classList.add("ticket-field");
        //     newTicketField.innerHTML = `
        //     <label for="price">Price:</label>
        //     <input type="number" class="ticket-input" name="price" required>

        //     <label for="perk">Perks:</label>
        //     <input type="text" class="ticket-input" name="perk" required>
        //     `;
        //     ticketFieldsContainer.appendChild(newTicketField);
        // });

        // ticketFormSubmitButton.addEventListener("click", () => {
        //     const ticketInputs = document.querySelectorAll(".ticket-input");
        //     const tickets = Array.from(ticketInputs).map((input) => input.value);
        //     displaySubmittedData(tickets);
        //     clearForm();
        //     popupContainer.style.display = "none";
        // });

        // function displaySubmittedData(tickets) {
        //     // Clear the submitted data container
        //     submittedDataContainer.innerHTML = "";

        //     const submittedData = document.createElement("p");
        //     submittedData.textContent = `Ticket types: ${tickets.join(", ")}`;
        //     submittedDataContainer.appendChild(submittedData);
        // }

        // function clearForm() {
        //     ticketFieldsContainer.innerHTML = `
        //     <div class="ticket-field">

        //     <label for="price">Price:</label>
        //     <input type="number" class="ticket-input" name="price" required>

        //     <label for="perk">Perks:</label>
        //     <input type="text" class="ticket-input" name="perk" required>

        //     </div>
        //     `;
        // }


        // Form submission
        // var submitButton = document.getElementById('submit-button');

        // submitButton.addEventListener('click', function (event) {
        //     event.preventDefault(); // Prevent the default form submission
        //     form.submit(); // Submit the form
        // });

    </script>
</body>

</html>