{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
</head>

<body>

    <div class="box1">

        <h1>Admin Panel</h1>

        <div class="box2">

            <div class="item" onclick="redirectToAddEventPage()">Host an Event</div>
            <div class="item" onclick="redirectToAddBlogPage()">Write a Blog</div>
            <div class="item" onclick="redirectToAdminsPage()">Add new Admin</div>

        </div>

    </div>

    <script>
        function redirectToAddEventPage() { window.location.href = '/addevent'; }
        function redirectToAddBlogPage() { window.location.href = '/addblog'; }
        function redirectToAdminsPage() { window.location.href = '/admins'; }
    </script>

</body>

</html>