{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Admins</title>
    <link rel="stylesheet" href="{% static 'css/admins.css' %}">
</head>

<body>
    <div class="container">
        <div class="list">

            <h1>Add Admin</h1>
            <form action="{% url 'admins' %}" method="post" class="admin">
                {% csrf_token %}
                <input type="email" id="email" name="email" placeholder="Enter user email">
                <button type="submit">Make admin</button>
            </form>

            <h1>Current Admins</h1>

            {% for admin in admins %}
            <div class="admin">
                <p>{{ admin }}</p>
                <button>Remove</button>
            </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>