{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class="container">
        <h1 class="heading">{{ blog.heading }}</h1>

        <p class="date">{{ blog.date }}</p>
        <div class="event_image" {% if blog.img %} style="background: url({{blog.img.url}});" {% endif %}></div>


        <p class="desc">{{ blog.text }}</p>
        

        <button class="register">Register</button>

        <p class="tags">Tags:
        {% if blog.tag1 %} <span> {{ blog.tag1 }} </span> {% endif %}
        {% if blog.tag2 %} <span> , {{ blog.tag2 }} </span> {% endif %}
        {% if blog.tag3 %} <span> , {{ blog.tag3 }} </span> {% endif %}
        {% if blog.tag4 %} <span> , {{ blog.tag4 }} </span> {% endif %}
        {% if blog.tag5 %} <span> , {{ blog.tag5 }} </span> {% endif %}
        </p>
    </div>
</body>

</html>