{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked Events</title>
    <link rel="stylesheet" href="{% static 'css/bookedEvents.css' %}">
</head>

<body>
    <div class="container">
        <h1 class="heading">Booked Events</h1>

        <div class="grid-container">

            <div class="grid-item">
                <h1>Event name</h1>
                <p>Starts: 2 Dec, 2023 at 09:87pm</p>
                <p>Ends: 2 Dec, 2023 at 09:87pm</p>
                <p>John Doe</p>
            </div>

            <div class="grid-item">
                <h1>Event name</h1>
                <p>Starts: 2 Dec, 2023 at 09:87pm</p>
                <p>Ends: 2 Dec, 2023 at 09:87pm</p>
                <p>John Doe</p>
            </div>

            <div class="grid-item">
                <h1>Event name</h1>
                <p>Starts: 2 Dec, 2023 at 09:87pm</p>
                <p>Ends: 2 Dec, 2023 at 09:87pm</p>
                <p>John Doe</p>
            </div>

            <div class="grid-item">
                <h1>Event name</h1>
                <p>Starts: 2 Dec, 2023 at 09:87pm</p>
                <p>Ends: 2 Dec, 2023 at 09:87pm</p>
                <p>John Doe</p>
            </div>

        </div>
    </div>
</body>

</html>