{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/editProfile.css' %}">
</head>

<body>
    <div class="container">
        <form action="{% url 'editProfile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inner_container">


                <div class="profile-pic" id="image-container" {% if user.profile_pic%}
                    style="background: url({{user.profile_pic.url}});" {% endif %}>
                    <input type="file" id="image-input" name="image-input" accept="image/*" />
                </div>

                <input type="text" value="{{user.first_name}} {{user.last_name}}" class="name" name="name" id="name">

                <div class="info">
                    <span class="label">Email:</span>
                    <input type="email" value="{{user.email}}" name="email" id="email">
                </div>

                <div class="info">
                    <span class="label">Phone:</span>
                    <input type="number" value="{{user.phone}}" name="phone" id="phone">
                </div>

                <div class="info">
                    <span class="label">Date of Birth:</span>
                    <input type="date" value="{{user.date_of_birth|date:'Y-m-d' }}" name="dob" id="dob">
                </div>

                <div class="info">
                    <span class="label">Address:</span>
                    <input type="text" value="{{user.address}}" name="address" id="address">
                </div>

                <div class="info">
                    <span class="label">Bio:</span>
                    <textarea name="bio" id="bio" cols="30" rows="2">{{user.user_bio}}</textarea>
                </div>

                <button type="submit">Save</button>

            </div>
        </form>
    </div>

    <script>
        var imageContainer = document.getElementById("image-container");
        var imageInput = document.getElementById("image-input");

        imageInput.addEventListener("change", function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function () {
                imageContainer.style.backgroundImage = "url('" + reader.result + "')";
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        });
    </script>

</body>

</html>