{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>

    <header>
        <ul>
            <div class="logo"></div>
            <div class="grid-item"><a href="/register">Register</a></div>
            <div class="grid-item"><a href="/login">Login</a></div>
            <div class="grid-item"><a href="/updates">Updates</a></div>
            <div class="grid-item"><a href="/addevent">Host an event</a></div>
            <div class="grid-item"><a href="/addblog">Write a Blog</a></div>
            <div class="grid-item"><a href="/adminpanel">Admin Panel</a></div>
            <div class="grid-item"><a href="/profile">Profile</a></div>
            <div class="grid-item"><a href="/logout">Logout</a></div>
        </ul>
    </header>

    <div class="opening_image">
        <div class="image_container">
            <h1>See You Soon!</h1>
            <p>Anime Central (ACen) is the largest anime, manga and Japanese popular culture convention in Chicago and
                the Midwest. Our event is located less than 30 minutes from downtown Chicago, in Rosemont, IL.</p>
        </div>
    </div>

    <div class="box1">
        <h1 class="heading1">Anime Central is Back!</h1>

        <p>Anime Central (ACen) is the largest anime, manga and Japanese popular culture convention in Chicago and the
            Midwest. Our event is located less than 30 minutes from downtown Chicago, in Rosemont, IL.</p>

        <p>As part of its mission, ACen brings fans together with guests from the Japanese and US sectors of the anime
            and
            manga industry, as well as gaming, cinema, and Asian culture personalities. The event includes a huge
            exhibit
            hall, a massive video game room, concerts, dances, educational panels and workshops, premiere screenings,
            autograph sessions, 24-hour video rooms, tabletop gaming and much, much more!</p>


        <!-- <div class="flex-container">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div> -->
    </div>

    <div class="middle_image">
        <div class="image_container2">
            <h1>What does Anime Central have to offer?</h1>

            <div class="grid-container">
                <div class="grid-item">
                    <p>Guests</p>
                    <p>Our event will bring in creators and the talent that brings your favorite anime to life.</p>
                </div>
                <div class="grid-item">
                    <p>Exhibitors</p>
                    <p>The expansive Exhibit Hall is the perfect place to track down merchandise influenced by Japanese
                        culture.</p>
                </div>
                <div class="grid-item">
                    <p>Artists</p>
                    <p>In one of the largest Artist Alleys in the country, Artists offer prints, original artwork,
                        handmade crafts and more.</p>
                </div>
                <div class="grid-item">
                    <p>Programming</p>
                    <p>Throughout the convention, members of the industry and fans will host panels.</p>
                </div>
                <div class="grid-item">
                    <p>Gaming</p>
                    <p>Our free-to-play gaming hall includes, tournaments, arcade, PC and console gaming.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="box1">
        <h1>Recent Updates</h1>
        <div class="grid-container2">
            <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v
            </div>
            <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v
            </div>
            <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v
            </div>
            <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v
            </div>
            <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v
            </div>


        </div>
    </div>


    <div class="grid-container3 box1">
        <div class="grid-item3">
            <div class="closing_image"></div>
        </div>


        <div class="newsletter grid-item3">
            <h1>Subscribe to our Newsletter</h1>
            <form action="">
                <label for="">Email Address</label>
                <input type="text">

                <label for="">First Name</label>
                <input type="text">

                <label for="">Last Name</label>
                <input type="text">

                <button>Subscribe</button>
            </form>
        </div>
    </div>

    <footer>Footer

        <ul>
            <li>Anime Central</li>
            <li> Contact</li>
            <li> Volunteer</li>
            <li>Advertising</li>
            <li>Privacy Policy</li>
            <li>Press Releases</li>
            <li>ACen Staff</li>
        </ul>

        <h2>Recent Posts </h2>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>

        <hr>

        <p>© 2023 Anime Central. All Rights Reserved.</p>
    </footer>

</body>

</html>