{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>

    <div class="form-container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1>Login</h1>


            <label for="email">Email</label>
            <input type="email" placeholder="Enter email" id="email" name="email" required>


            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" id="password" name="password" required>

            <button type="submit">Submit</button>

            <span>Don't have an account? <a href="/register">Register</a></span>

            {% if error_message %}
                <span style="color: red;">{{ error_message }}</span>
            {% endif %}

        </form>
    </div>
</body>

</html>