{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
    <div class="container">
        <div class="inner_container">
            <button onclick="redirectToEditProfilePage()">✏️</button>
            <div class="profile-pic" {% if user.profile_pic%} style="background: url({{user.profile_pic.url}});" {% endif %}></div>
            <h1>{{user.first_name}} {{user.last_name}}</h1>

            <div class="info">
                <span class="label">Email:</span> {{user.email}}
            </div>

            <div class="info">
                <span class="label">Phone:</span> {{user.phone}}
            </div>

            <div class="info">
                <span class="label">Date of Birth:</span> {{user.date_of_birth}}
            </div>

            <div class="info">
                <span class="label">Address:</span> {{user.address}}
            </div>

            <div class="info">
                <span class="label">Bio:</span> {{user.user_bio}}
            </div>
        </div>
    </div>

    <script>
        function redirectToEditProfilePage() { window.location.href = '/editprofile'; }
    </script>

</body>

</html>