{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>

    <div class="form-container">
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">

            <h1>Register</h1>

            {% csrf_token %}
            {{form}}

            <!-- <label for="">First Name</label>
            <input type="text" placeholder="Enter firstname" required>

            <label for="">Last Name</label>
            <input type="text" placeholder="Enter lastname" required>


            <label for="">Email</label>
            <input type="email" placeholder="Enter email" required>


            <label for="">Password</label>
            <input type="password" placeholder="Enter password" required> -->

            <button type="submit">Submit</button>

            <span>Already have an account? <a href="/login">Login</a></span>
        </form>
    </div>
</body>

</html>