{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updates</title>
    <link rel="stylesheet" href="{% static 'css/updates.css' %}">
</head>

<body>

    <div class="page">
        <h1 class="heading">Recent Updates</h1>

        <div class="grid-container">


            {% for event in events %}

            <div class="grid-item">
                <div class="event_image" {% if event.event_poster%} style="background: url({{event.event_poster.url}});"
                    {% endif %}></div>
            </div>

            <div class="grid-item bg">

                {% if event.event_name %}
                <h1 class="event">{{event.event_name}}</h1>
                {% else %}
                <h1 class="event">New Event</h1>
                {% endif %}
                <p><span class="tags1">Start : </span>{{event.start_date}} at {{event.start_time}}, <span
                        class="tags1">End :
                    </span>{{event.end_date}} at {{event.end_time}}</p>
                <p><span class="tags1">Venue : </span> {{event.venue}}</p>

                <p>{{event.description|truncatechars:200}} Click to read more.</p>

                <!-- <p><span class="tags1">100/140</span> people have already registered! Book your tickets <span
                        class="tags1">NOW</span>!</p> -->

                <div class="singleline">
                    <p class="tags">Event</p>
                    {% if event.theme1 %}
                    <p class="tags">{{event.theme1}}</p>
                    {% endif %}
                    {% if event.theme2 %}
                    <p class="tags">{{event.theme2}}</p>
                    {% endif %}
                    {% if event.theme3 %}
                    <p class="tags">{{event.theme3}}</p>
                    {% endif %}
                </div>
            </div>

            {% endfor %}

            <!-- Blogs -->

            {% for blog in blogs %}

            <div class="grid-item">
                <div class="event_image" {% if blog.img%} style="background: url({{blog.img.url}});" {% endif %}></div>
            </div>

            <div class="grid-item bg" onclick="location.href='{% url "blog" blog_id=blog.id %}'">
                <h1>{{ blog.heading }}</h1>
                <p>{{blog.text|truncatechars:200}} Click to read more.</p>
                <p class="date">{{ blog.date }}</p>
                <div class="singleline">
                    <p class="tags">Blog</p>
                    {% if blog.tag1 %}
                    <p class="tags">{{blog.tag1}}</p>
                    {% endif %}
                    {% if blog.tag2 %}
                    <p class="tags">{{blog.tag2}}</p>
                    {% endif %}
                    {% if blog.tag3 %}
                    <p class="tags">{{blog.tag3}}</p>
                    {% endif %}
                    {% if blog.tag4 %}
                    <p class="tags">{{blog.tag4}}</p>
                    {% endif %}
                    {% if blog.tag5 %}
                    <p class="tags">{{blog.tag5}}</p>
                    {% endif %}
                </div>
            </div>

            {% endfor %}

        </div>

        <button class="nextpage">Next »</button>
    </div>
</body>

</html>